@model Domain.Core.Queryes.ObtenerTurnoQueryResult
@using Domain.Entities;

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesionalNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfesionalNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Model.Estado.ToNiceString()
        </dd>
    </dl>
</div>

<br /><br /><br />

@await Html.PartialAsync("_TurnoHistorial", Model.Historial)

<br />

<div>

    @foreach (var accion in Model.Acciones)
    {
        @Html.ActionLink(accion.ToNiceString(), "EjecutarAccion", new { turnoId = Model.Id, accion = accion }, new { @class = "btn btn-primary" })
    }

    <br />
    <br />

    @*<a asp-action="Index">Volver</a>*@
    @Html.ActionLink("Volver", "Index", new { fecha = Model.Fecha})
</div>
