@model Presentation.Web.Models.Turnos.TurnosViewModel

@{
    ViewData["Title"] = "Turnos";
}

<h1>Turnos</h1>

<div class="row">
    <form asp-action="Index">
        <label asp-for="Fecha" class="control-label"></label>
        <input asp-for="Fecha" type="date" class="form-control" />

        <br />

        <input type="submit" value="Buscar" class="btn btn-primary" />

        <a asp-action="Nuevo" class="btn btn-primary">Crear nuevo</a>
    </form>

</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Horario
            </th>
            <th>
                Profesional
            </th>
            <th>
                Paciente
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turnos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio) - @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesionalNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Detalle", "Detalle", new { id = item.TurnoId })
            </td>
        </tr>
}
    </tbody>
</table>
