@model Presentation.Web.Models.Turnos.CrearTurnoViewModel
@using Domain.Core.Helpers;

@{
    ViewData["Title"] = "Nuevo turno";
}

@section Head{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <style>
        #slPacientes {
            width: 350px;
        }
    </style>
}

<h1>Nuevo turno</h1>
<hr />
<br />
<div>

    <label class="text-danger">@Model.ExceptionMessage</label>

    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">
            <dt class="col-sm-3">
                <label asp-for="Fecha" class="control-label"></label>
            </dt>
            <dd class="col-sm-4">
                <input id="fecha" asp-for="Fecha" asp-format="{0:yyyy-MM-dd}" type="date" class="form-control" value="@Model.Fecha.ToString("yyyy-MM-dd")" />

                <span asp-validation-for="Fecha" class="text-danger"></span>
            </dd>
            <dd class="col-sm-5"></dd>

            <dt class="col-sm-3">
                <label asp-for="PacienteId" class="control-label"></label>
                
            </dt>
            <dd class="col-sm-4">
                <select id="slPacientes" asp-for="PacienteId"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </dd>
            <dd class="col-sm-5">
                <button type="button" id="btnCrearPaciente" class="btn btn-outline-primary btn-sm" data-url="@Url.Action("CrearPaciente")" data-toggle="modal" data-target="#modal-crear-paciente">
                    <i class="bi bi-person-plus"></i> Nuevo
                </button>
            </dd>

            <dt class="col-sm-3">
                <label asp-for="ProfesionalId" class="control-label"></label>
            </dt>
            <dd class="col-sm-4">
                <select id="slProfesionales" asp-for="ProfesionalId" class="form-control">
                    <option></option>
                    @foreach (var profesional in Model.Profesionales)
                    {
                        <option value="@profesional.Id"
                                data-duracion-turno="@profesional.DuracionTurno">
                            @profesional.Nombre
                        </option>
                    }
                </select>
                <span asp-validation-for="ProfesionalId" class="text-danger"></span>
                <input type="hidden" id="selectedHoraInicio" value="@Model.HoraInicio" />
            </dd>

            <dd class="col-sm-5"></dd>

            <dt class="col-sm-3">
                <label asp-for="HoraInicio" class="control-label"></label>
            </dt>
            <dd class="col-sm-4">
                <select id="slHoraInicio" asp-for="HoraInicio" class="form-control"></select>
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </dd>

            <dd class="col-sm-5"></dd>

            <br />
            <br />

            <div class="form-group">
                <input type="submit" value="Agregar turno" class="btn btn-primary" />
            </div>
        </dl>
    </form>
</div>

<div id="modal-placeholder"></div>

<br />
<br />

<div>
    @Html.ActionLink("Volver", "Index", new { fecha = Model.Fecha })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/turnos/nuevo.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            let view = new nuevoTurno();
        });
    </script>
}
