@model Domain.Core.Queryes.ObtenerProfesionalColaQueryResult

@{
    ViewData["Title"] = "Cola";
}

<h1>Cola - @Model.Profesional</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Turno
            </th>
            <th>
                Paciente
            </th>
            <th>
                Horario llegada
            </th>
            <th>
                Horario turno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cola)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TurnoId.ToString(), "Detalle", "Turnos", new { id = item.TurnoId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraTurno)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>